/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
    @import "bootstrap";

   .card-margin {
      margin: 15px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      cursor: pointer;
   }

   .card-margin:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }

   a:link {
      text-decoration: none;
      color: black;
      font-size:16px;
      margin-left: 20px;
      margin-top: 20px;
    }

    .search-form{
       margin-top:70px;
       margin-bottom:30px;
       margin-left: 20px;
    }

    .search-input{
       width:50%
    }
 
    .ad-img{
         grid-column: 3;
         grid-row: 1 / span 2;
    }
